<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
        <input matInput [matDatepicker]="dateFrom" placeholder="Date from" (dateChange)="onDateFromChange($event)">
        <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
        <mat-datepicker #dateFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="dateTo" placeholder="Date to" (dateChange)="onDateToChange($event)">
        <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input type="text"
               placeholder="Select asset"
               matInput
               [formControl]="assetControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAssetChange($event)">
          <mat-option *ngFor="let asset of filteredAssets | async" [value]="asset">
            {{asset}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

</mat-expansion-panel>


<table mat-table [dataSource]="filteredTransactions" class="transactions, mat-elevation-z8">
    <ng-container matColumnDef="transactionTime">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let tran"> {{tran.transactionTime | date:'yyyy-MM-dd'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="assetName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let tran"> {{tran.assetName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let tran"> {{tran.transactionType}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef>Volume</th>
        <td mat-cell *matCellDef="let tran"> {{tran.volume | number}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let tran"> {{tran.price | number:'1.2-2'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let tran"> {{tran.balance | number:'1.2-2'}} </td>
        <td mat-footer-cell *matFooterCellDef>{{totalBalance | number:'1.2-2'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true" class="footer"></tr>
</table>